<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Object Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="/SaftyNet/Deployed App/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/SaftyNet/Deployed App/static/assets/page.css">
    <meta name="description" content="">

</head>

<body>


    <section class="engine"> <a href="SaftyNet.html" style="text-align: left; width: 6%; border-radius: 0.7rem; font-weight: 400;"><- Go Back</a>

    

        <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(35, 35, 35);">
        </div>
    
        <div class="container  ">
                <div class="media-container">
                    <div class="col-md-12 align-center">
                        <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1"><br>Object Detection</h1>
                        <p class="mbr-text pb-3 mbr-white mbr-fonts-style display-5"><br></p>
                        
                        <div class="wrap-link100 mx-auto p-t-190 p-b-30">
                        
                        <div class="wrap-input100 validate-input m-b-10" data-validate = "Video link is required">
                            <input class="input100 align-center" type="text" name="videolink" placeholder="Enter Video Link">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-youtube-play"></i>
                            </span>
                        </div>
                        </div>
                        <br><br>
                        
                        <div class="mbr-section-btn align-center py-2"><a class="btn btn-md btn-secondary display-4" href="Video.html">Detect Object</a></div>
    
                        <div class="icons-media-container mbr-white">
                            <div class="card col-12 col-md-6">
                                
                                <h5 class="mbr-fonts-style display-5"></h5>
                            </div>
    
                            <div class="card col-12 col-md-6">
                                
                                <h5 class="mbr-fonts-style display-5"></h5>
                            </div>
    
                            
    
                            
                        </div>
                    </div>
                </div>
        </div>
    
        
    </section>
</html>